@for (post of data; track post.name) {
  <app-post [name]="post.name" [img]="post.img" [time]="post.time" [text]="post.text"></app-post>
}

@if (lastMessage) {
  <app-messages [type]="lastMessage.type" [message]="lastMessage.message"></app-messages>
}

<div class="container">
  <div class="count">{{ count }}</div>
  <div class="count-signal">{{ countSignal() }}</div>
  <div class="area-signal">{{ area() }}</div>
  <button (click)="increase()">Increase</button>
</div>

<custom-component></custom-component>
